.shne{
    color:rgb(215, 172, 0);  margin-left: 20px;
    
}
.geedi{
    color:#00008b;
    margin-left: 20px;
    list-style-position:inside;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
li[value=""]{

}
.muhiim{
    color:#BF4646;
}
.gudaha{
    color: #084f5d;
    font-weight: 200;
}
.x{
    color: #00008b
}
.heading{
    color: #BF4646;
    text-align: center;
    margin-top:0%;
    margin-bottom:0%;
}
.gudo{
    font-size:x-large;
    font-weight:lighter;
    color:#7EACB5


    
}
.had{
    color: #fcffff;
    background-color:#BF4646;
    text-align: center;
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -8px;
    font-family: 'Times New Roman', Times, serif;
}
.sawir{
    width:350px;
    height: -150px;
    max-width:fit-content;
    max-height:fit-content;
    object-fit:contain;
    object-position:center;
    margin-left:70px;

}